bcrypt==4.2.1
fastapi==0.115.8
hiredis==3.1.0
httptools==0.6.4
httpx==0.28.1
motor==3.7.0
pip==25.0.1
pydantic-settings==2.8.0
PyJWT==2.10.1
pytest-asyncio==0.25.3
PyYAML==6.0.2
redis==5.2.1
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
wheel==0.45.1
